* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

body {
    overflow-x: hidden;
}

.layout-admin {
    .admin-header {
        display: flex;
        height: 50px;
        border-bottom: 1px solid #ebebeb;
        align-items: center;
        padding: 0 15px;

        .admin-header__account {
            margin-left: auto;
        }
    }
}

.demo-logo-vertical {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ccc;
    margin: 4px;
    height: 54px;
    padding: 0px 16px 0 24px;
    margin: 10px 10px;
    border-radius: 8px;
    font-size: 14px;
}